config hev-socks5-tunnel 'config'
    option enabled '0'
    option tunnel_name 'tun0'
    option tunnel_mtu '8500'
    option tunnel_ipv4 '198.18.0.1'
    option tunnel_ipv6 'fc00::1'
    option socks5_address '127.0.0.1'
    option socks5_port '1080'
    option socks5_udp 'udp'
    option socks5_username ''
    option socks5_password ''
    option mapdns_enabled '0'
    option mapdns_address '198.18.0.2'
    option mapdns_port '53'
    option mapdns_network '100.64.0.0'
    option mapdns_netmask '255.192.0.0'
    option log_level 'warn'
    option log_file 'stderr'    