# luci-app-hev-scoks5-tunnel
轻量级hev-socks5-tunnel插件的luci界面
# [hev-socks5-tunnel](https://github.com/heiher/hev-socks5-tunnel)

## 概述

Hev Socks5 Tunnel 是一种轻量级的隧道服务，旨在通过 Socks5 代理路由流量。该项目提供了一个基于 Web 的配置界面，用于管理 `hev-socks5-tunnel` 服务，包括启用/禁用服务、配置 Socks5 服务器地址和端口，以及监控服务状态。

---

## 功能

1. **服务管理**：
   - 启用或禁用 `hev-socks5-tunnel` 服务。
   - 实时监控服务状态（运行中/未运行）。

2. **配置选项**：
   - 设置 Socks5 服务器地址（IP 地址）。
   - 指定 Socks5 服务器端口。

3. **动态状态更新**：
   - 使用轮询机制，服务状态会在 Web 界面中动态更新。

4. **验证**：
   - 输入字段经过验证以确保数据类型正确（例如，服务器地址为 IP 地址，端口号有效）。

---

## 特点

1. **在`hev-socks5-tunnel.init`中使用sed命令对程序运行的所需要的配置文件进行修改**
    - ```sed -i "s|address: .*|address: ${_socks5_server_address}|g" "$conffile"```
    - 增加``` reload_service() {
                  /etc/init.d/hev-socks5-tunnel restart
              }``` 在main.yml修改后重启`hev-socks5-tunnel`服务（其实这个可以不用添加，测试时不影响使用）
2. **使用了UCI权限

## 后续
1. 因为这个项目简单，拿来练手，后续对main.yml的内容有需要的自己改配置文件。

### 致谢

特别感谢 [luci-app-microsocks](https://github.com/immortalwrt/luci/tree/master/applications/luci-app-microsocks) 项目为本项目提供的灵感和参考。该项目为本项目的开发提供了宝贵的帮助。对此表示由衷的感谢！

### License
MIT